* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background: #202020;
  color: #d6d6d6;
}

a {
  text-decoration: none;
  color: #d6d6d6;
}

#main {
  max-width: 1200px;
  margin: 0 auto;
}

#main section {
  padding-top: 120px;
}

#main section h2 {
  font-size: 32px;
  font-weight: 600;
}
