.Welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 69px);

  .name {
    display: flex;
    flex-direction: column;

    h1 {
      color: #ffd100;
      font-size: 84px;
      font-weight: 600;
    }
    h2 {
      font-size: 32px;
      color: #d6d6d6;
      margin-left: 4px;
    }
  }
}
